@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background:#0c0919;
}


// Link Animations 
.list {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 40px;
}
.link {
	position: relative;
	display: inline-block;
	text-decoration: none;
	color: #fff;
}
.link::before,
.link::after {
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height:4px;
	background-color: #0561EE;
	transform: scaleX(0);
	transition: transform 0.25s;
}
.link::before {
	top: -3px;
	transform-origin: left;
}
.link::after {
	bottom: -3px;
	transform-origin: right;
}
.link:hover::before,
.link:hover::after,
.active::before,
.active::after {
	transform: scaleX(1);
}